#!/usr/bin/env bash

alias pbcopy="xclip -sel clip"

# common commands
alias tree="tree -dA"
alias c="clear"
alias cls=' echo -ne "\033c"'
alias l='ls -lh --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias ll='l -Sr'
alias la='ls -lha --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias ls='ls --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias hist='history | grep'
alias r="ranger"
alias t="tmux"
alias v="vim"
alias o='xdg-open'
alias e='$EDITOR'
alias die='kill -9 $$'
alias :q="exit"

# Safety features
alias md='mkdir -p -v'
alias mv='mv -i -v'
alias rm='rm -i'

# tmux
alias tls="tmux ls"
alias tnew="tmux new -s"
alias ta="tmux a"
alias tat="tmux a -t"
alias tkill="tmux kill-session -t"

# tmux session, with single quotes so PWD works
alias tses='tmux new -As $(basename $PWD | tr . -)'

# grep
alias -g G="| grep"
alias -g H="| head"
alias -g T="| tail"
alias grep='grep --color=auto'
alias less='less -imJMW'
alias qfind='find . -name '

# rules
alias chmod="chmod -c"
alias rw-="chmod 600"
alias rwx="chmod 700"
alias r--="chmod 644"
alias r-x="chmod 755"

# networks
alias netCons="lsof -i"                                        # Show all open TCP/IP sockets
alias flushDNS="sudo service dnsmasq restart"                  # Flush out the DNS Cache
alias lsock="sudo lsof -i -P"                                  # Display open sockets
alias lsockU="sudo lsof -nP | grep UDP"                        # Display only open UDP sockets
alias lsockT="sudo lsof -nP | grep TCP"                        # Display only open TCP sockets
alias openPorts="sudo /usr/bin/lsof -i | grep LISTEN"          # All listening connections
alias openports="ss --all --numeric --processes --ipv4 --ipv6" # All listening connections
alias showBlocked="sudo ipfw list"                             # All ipfw rules inc/blocked IPs

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

alias op3000="o http://localhost:3000/"
alias op4567="o http://localhost:4567/"
alias op8000="o http://localhost:8000/"
alias ytdl='youtube-dl --embed-subs --embed-thumbnail'
alias ytdla='ytdl --extract-audio --audio-format mp3 -o "%(title)s.%(ext)s"'

# alias feh='feh -Fzrd'
alias jsc="node"
alias re="source ~/.zshrc"
alias zshconfig='e ~/.zshrc'
alias ohmyzsh="e -w ~/.oh-my-zsh"

alias g="git"
alias gc="git add -A && git commit -a"
alias gi="git init && git add . && git commit -m \"first commit\""

# alias cal="cal -3m"
alias clip="xclip -sel clip"
alias cp="cp -i"
alias da="date \"+%A, %B %d, %Y [%T]\""
alias df="df -h"
alias du="du -c -h"
alias bc="bc -q"
alias p="ps -A f -o user:12,pid,priority,ni,pcpu,pmem,args"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Add an "alert" alias for long running commands.  Use like so: sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Pipe my public key to my clipboard.
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

alias shrug="echo '¯\_(ツ)_/¯' | pbcopy"
