#!/usr/bin/env bash

# User specific environment and startup programs
export PATH="${PATH}:${HOME}/.local/bin:${HOME}/bin:${HOME}/dev/bin:${BIN_HOME}";

# Make vim the default editor.
export EDITOR='vim';
export PAGER='less -R';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;

# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';

# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER="less -X";

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

export SSH_KEY_PATH="~/.ssh/"

export TIME_STYLE="long-iso" # long date format in ls(1)

export DEVEL_HOME="${HOME}/repos";

export BIN_HOME="${HOME}/dev/bin";

export LESS="-cRSx4M~#1PMFile\: ?f%F:stdin. | Line\: %lt-%lB?L/%L. ?PB(%PB\%) .| Page\: %d?L/%D.";

export LP_DEST="Hewlett-Packard-HP-LaserJet-1018";
export PRINTER="Hewlett-Packard-HP-LaserJet-1018";

# export GIST_DIR=$HOME/dev/_gists/
# export GOROOT=$HOME/go
# export GOOS='linux'
# export GO_ARCH=386

# sup yarn
# https://yarnpkg.com
# if (( $+commands[yarn] ))
# then
#   export PATH="$PATH:`yarn global bin`"
# fi

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
