# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Ilia Reshetnikov
email = ilia.reshetnikov@devxom.me

[core]
        # Use custom `.gitignore` and `.gitattributes`
        excludesfile = ~/.gitignore
        attributesfile = ~/.gitattributes

        # Make `git rebase` safer on macOS
        # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
        trustctime = false

        # Prevent showing files whose names contain non-ASCII symbols as unversioned.
        # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
        precomposeunicode = false

        # Speed up commands involving untracked files such as `git status`.
        # https://git-scm.com/docs/git-update-index#_untracked_cache
        untrackedCache = true

[url "git@heroku.com:"]
        insteadOf = "heroku:"

[url "git@github.com:"]
        insteadOf = "gh:"
        pushInsteadOf = "github:"
        pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
        insteadOf = "github:"

[url "git@gist.github.com:"]
        insteadOf = "gst:"
        pushInsteadOf = "gist:"
        pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
        insteadOf = "gist:"
