URxvt.font:xft:SourceCodePro+Powerline+Awesome Regular:size=12
URxvt.perl-ext-common : default,matcher
URxvt.url-launcher    : /usr/bin/xdg-open
URxvt.matcher.button  : true
URxvt.intensityStyles : false
URxvt.saveLines       : 5000
URxvt.scrollBar       : false
URxvt.scrollstyle     : rxvt
URxvt.internalBorder  : 5
URxvt.geometry: 80x22

URxvt.tabbedex.autohide: yes
URxvt.tabbedex.tabbar-fg: 2
URxvt.tabbedex.tabbar-bg: 0
URxvt.tabbedex.tab-fg: 10
URxvt.tabbedex.tab-bg: 0
URxvt.tabbedex.title: yes
URxvt.tabbedex.new-button: yes

! https://github.com/chriskempson/base16-xresources
#include "./repos/base16-xresources/xresources/base16-spacemacs.Xresources"

rofi.color-enabled : false
!rofi.color-window  : #928374, #404552, #282828
!rofi.color-normal  : #928374, #282828, #928374, #928374, #ffc200
!rofi.color-active  : #928374, #282828, #928374, #928374, #00ff00
!rofi.color-urgent  : #928374, #282828, #928374, #928374, #ff0000

!URxvt*iconFile: /usr/share/icons/Faenza/apps/32/utilities-terminal.png
!IRC*iconFile: /usr/share/icons/Faenza/apps/32/xchat.png
