// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #002b36, #eee8d5);
$fg_color: if($variant == "dark", #dcdcdc, #586e75);
$base_color: if($variant == "dark", #073642, #fdf6e3);
$text_color: if($variant == "dark", #eee8d5, #073642);
$selected_bg_color: #859900;
$selected_fg_color: #fdf6e3;
$tooltip_bg_color: $selected_bg_color;
$tooltip_fg_color: $selected_fg_color;

// dark colors
$dark_bg_color: $bg_color;
$dark_fg_color: $fg_color;

// shadows
$dark_shadow: #000;
$light_shadow: #fff;

// white and black
$black: #000;
$white: #fff;

// misc colors used by gtk+
$info_fg_color: if($variant == "dark", #3a87ad, #266ed2);
$info_bg_color: if($variant == "dark", #d9edf7, #d9edf7);
$warning_fg_color: if($variant == "dark", #c09853, #b58900);
$warning_bg_color: if($variant == "dark", #d64937, #fcf8e3);
$question_fg_color: if($variant == "dark", #d64937, #cb4b16);
$question_bg_color: if($variant == "dark", #fce5d5, #fce5d5);
$error_fg_color: if($variant == "dark", #b94a48, #dc322f);
$error_bg_color: if($variant == "dark", #f2dede, #f2dede);
$link_color: if($variant == "dark", #fc6f5d, #d33682);
$success_color: if($variant == "dark", #53a93f, #859900);
$warning_color: if($variant == "dark", #f57900, #cb4b16);
$error_color: if($variant == "dark", #cc0000, #dc322f);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
