[Desktop Entry]
Name=Vi IMproved
Comment=Powerful text editor with scripting functions and macro recorder
MimeType=text/plain;text/x-python;
Exec=xfce4-terminal -e "vim %F" --hide-menubar -I gvim
Icon=gvim
Terminal=false
Type=Application
Categories=Utility;TextEditor;
StartupNotify=true

# fullscreen mode: 159x56 ~ 1280x1024, 86 dpi, liberation mono 12
# how to check: open the terminal, run vim, type ":set columns"
# do not use "-c" for specify geometry
# do not use single quotes
#Exec=xfce4-terminal -e "vim %F --cmd \"set columns=159\" --cmd \"set lines=56\"" --maximize --hide-menubar -I gvim
