"*":
  "advanced-new-file":
    suggestCurrentFilePath: true
  "advanced-open-file":
    createFileInstantly: true
  "asciidoc-preview": {}
  "atom-beautify":
    _analyticsUserId: "628f791d-dc9a-4907-89ef-e27445244039"
    js_indent_with_tabs: true
  "atom-color-highlight":
    hideMarkersInComments: true
    hideMarkersInStrings: true
    markersAtEndOfLine: true
  "atom-lint":
    rubocop:
      showDisplayCopNames: true
  "auto-copyright":
    owner: "Ilya Reshetnikov"
  build: {}
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "markdown-preview"
    ]
    followSymlinks: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      ".keep"
      "._*"
      "*.pyc"
      "Thumbs.db"
    ]
    projectHome: "e:\\_work\\"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Consolas"
    fontSize: 16
    invisibles:
      cr: "↩"
      eol: " "
      tab: "⇥"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "enhanced-package-list":
    highlightAuthor: "devxom"
  "exception-reporting":
    userId: "ced80d13-0912-d555-eb04-4e686158f962"
  "file-icons":
    forceShow: true
  gist:
    token: "883c232078f64c33c5e08fed67a7ffc538091855"
  "imdone-atom-github": {}
  linter:
    lintOnFly: false
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconPosition: "Right"
  "linter-stylint": {}
  "markdown-pdf": {}
  "markdown-preview-plus":
    openPreviewInSplitPane: false
    useGitHubStyle: true
  "markdown-preview-plus-opener":
    closePreviewWhenClosingEditor: true
  "markdown-writer":
    fileExtension: ".md"
  "merge-conflicts": {}
  minimap:
    charHeight: 4
    charWidth: 2
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
    smoothScrolling: false
  pigments:
    markerType: "dot"
  "status-bar":
    cursorPositionFormat: "L:%L C:%C"
  "symbols-tree-view": {}
  "sync-settings":
    _analyticsUserId: "5d64d0c1-b4fe-4e22-a587-b2abfadb1165"
    _lastBackupHash: "4c9831ca472c7be22ed96ba4dd48e4346cfc291b"
    gistId: "ddb39255752971838a7f"
    personalAccessToken: "274751fed216d09f63323af732c2810c6cc65750"
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tabs-to-spaces":
    changeSoftTabsMode: true
    onSave: "untabify"
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  "word-jumper": {}
".css.source.stylus":
  editor:
    preferredLineLength: 120
"sync-settings":
  gistId: "ddb39255752971838a7f"
  personalAccessToken: "900aaaa66669305f5903d0d07f2c755baabd44e7"
